<div class="simple-blog-posts-index">
  <h1 class="simple-blog-title"><%= t('.page_heading') %></h1>

  <% if @blog_posts.present? %>
    <% @blog_posts.each do |blog_post| %>
      <div class="simple-blog-post" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name" class="simple-blog-post-title"><%= link_to blog_post.pretty_title, blog_post_path(blog_post) %></h2>
        <p itemprop="description" class="simple-blog-post-body"><%= raw blog_post.description %></p>
        <%= render_shareable %>
        <% if blog_post.tag_list.present? %>
          <div class="simple-blog-post-tags" itemprop="keywords">
            Tags: <%= blog_post_tags(blog_post) %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate @blog_posts %>
  <% else %>
    <p class="simple-blog-posts-missing"><%= t('.no_published_posts') %></p>
  <% end %>
</div>
