<% content_for(:seo_meta) do %>
  <%# HTML seo %>
  <meta name="description" content="<%= strip_tags_for_seo(@blog_post.description) %>" />
  <meta name="keywords" content="<%= @blog_post.keyword_list %>" />
<% end %>
<div class="simple-blog-posts-show">
  <h1 class="simple-blog-post-title"><%= @blog_post.pretty_title %></h1>
  <% if @blog_post.tag_list.present? %>
    <p class="simple-blog-post-tags">
      Tags: <%= blog_post_tags(@blog_post) %>
    </p>
  <% end %>
  <div class="simple-blog-post-body">
    <%= raw @blog_post.markdown_body %>
  </div>
</div>
