<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title + " | " if @page_title %>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:seo_meta) %>
</head>
<body>

<% if notice %>
  <%= notice %>
<% elsif alert %>
  <%= alert %>
<% end %>

<%= yield %>

</body>
</html>
