<%= form_for :post, :url => simple_blog.posts_url do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :published %>
    <%= f.text_field :published %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
