<%= render "form_errors", :obj => f.object %>
<div class="simple-blog-new-post-row" id="simple-blog-post-form">
  <%= f.label :title, :class => "left-side-label" %>
  <%= f.text_field :title, :id => "simple-blog-post-form-title", :class => "textfield", :size => 100 %>
  <div id='simple-blog-form-title-warning' class='simple-blog-form-warning'></div>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :description %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.text_area :description, :id => "simple-blog-post-form-description" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :body %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.text_area :body, :id => "simple-blog-post-form-body" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :published_at, :class => "left-side-label" %>
  <%= f.date_select :published_at, :prompt => { day: t('.prompt_select_day'), month: t('.prompt_select_month'), year: t('.prompt_select_year') } %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :tag_list, :class => "left-side-label" %>
  <%= f.text_field :tag_list, :class => "textfield", :size => 100, :id => "simple-blog-post-form-tag-list" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :keyword_list, :class => "left-side-label" %>
  <%= f.text_field :keyword_list, :class => "textfield", :size => 100, :id => "simple-blog-post-form-keyword-list" %>
</div>
