<%= render "form_errors", :obj => f.object %>
<div class="simple-blog-new-post-row">
  <%= f.label :title, :class => "left-side-label" %>
  <%= f.text_field :title, :id => "simple-blog-post-form-title", :class => "textfield", :size => 100 %>
  <div id='simple-blog-form-title-warning' class='simple-blog-form-warning'></div>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :description %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.text_area :description, :id => "simple-blog-post-form-description" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :body %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.text_area :body, :id => "simple-blog-post-form-body" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :published_at, :class => "left-side-label" %>
  <%= f.text_field :published_at, :id => "simple-blog-post-form-published-at", :value => f.object.published_at.present? ? f.object.published_at.strftime("%d/%m/%Y") : "" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :tag_list, :class => "left-side-label" %>
  <%= f.text_field :tag_list, :class => "textfield", :size => 100, :id => "simple-blog-post-form-tag-list" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :keywords, :class => "left-side-label" %>
  <%= f.text_field :keywords, :class => "textfield", :size => 100 %>
</div>
