<%= render "form_errors", :obj => f.object %>
<div class="simple-blog-new-post-row">
  <%= f.label :title, :class => "left-side-label" %>
  <%= f.text_field :title, :id => "simple-blog-post-form-title", :class => "textfield", :size => 100 %>
  <div id='simple-blog-form-title-warning' class='simple-blog-form-warning'></div>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :description %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.text_area :description, :id => "simple-blog-post-form-description", :rows => 15, :cols => 100 %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :body %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.text_area :body, :id => "simple-blog-post-form-body", :rows => 40, :cols => 100 %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :published_at, :class => "left-side-label" %>
  <%= f.text_field :published_at, :id => "simple-blog-post-form-published-at", :value => f.object.published_at.present? ? f.object.published_at.strftime("%d/%m/%Y") : "" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :tag_list, :class => "left-side-label" %>
  <%= f.text_field :tag_list, :class => "textfield", :size => 100, :id => "simple-blog-post-form-tag-list" %>
</div>
<div class="simple-blog-new-post-row">
  <%= f.label :keyword_list, :class => "left-side-label" %>
  <%= f.text_field :keyword_list, :class => "textfield", :size => 100, :id => "simple-blog-post-form-keyword-list" %>
</div>
<% if @blog_images.present? %>
  <div class="simple-blog-new-post-row">
    <% @blog_images.each do |image| %>
      <div class="simple-blog-post-image">
        <%= image_tag image.image.thumb.url %>
        <%= image.image.url %>
        <%= link_to t('.delete_image'), admin_blog_image_path(image.id), :method => :delete, :data => { :confirm => t('.are_you_sure') } %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="simple-blog-new-post-row">
  <%= f.fields_for :images, f.object.images.build do |i| %>
    <%= i.label :image %>
    <%= i.file_field :image, :id => "simple-blog-post-form-image" %>
   <% end %>
</div>
<% unless f.object.new_record? %>
  <div class="simple-blog-new-post-row">
    <%= link_to "Preview: #{f.object.title}", blog_post_path(f.object.slug), :target => "_blank" %>
  </div>
<% end %>
