<div class="simple-blog-posts-index">
  <h1 class="simple-blog-title"><%= t('.page_heading') %></h1>

  <% if @blog_posts.present? %>
    <% @blog_posts.each do |post| %>
      <div class="simple-blog-post">
        <h2 class="simple-blog-post-title"><%= link_to post.pretty_title, edit_admin_blog_post_path(post.id) %></h2>
        <p class="simple-blog-post-body"><%= post.safe_body %></p>
        <% unless post.tag_list.empty? %>
          <div class="simple-blog-post-tags">
            Tags: <%= post.tag_list %>
          </div>
        <% end %>
        <% unless post.keywords.nil? %>
          <div class="simple-blog-post-keywords">
            Keywords: <%= post.keywords %>
          </div>
        <% end %>
        <%= link_to "Delete", admin_blog_post_path(post.id), :method => :delete %>
      </div>
    <% end %>
  <% else %>
    <p class="simple-blog-posts-missing"><%= t('.no_published_posts') %></p>
  <% end %>
  <%= link_to t('.new_post'), new_admin_blog_post_path %>
</div>
