<div class="white-section">
  <div class="container">
    <div class="page-header text-center">
      <h1><%= t('.title') %></h1>
      <p class="lead text-style"><%= t('.subtitle') %></p>
    </div>
  </div>
</div>

<div class="grey-section blog-wrapper dm-shadow">
  <div class="container">
    <div class="content">
      <div class="js-form">
        <%= form_for @blog_post, :url => admin_blog_posts_path, :method => :post do |f| %>
          <%= render 'form', :f => f %>
          <div class="simple-blog-form-row">
            <%= f.submit t('.submit'), :class => "simple-blog-form-submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
